<div class="panel-group" id="accordion">
    <!--Category-->
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <span class="glyphicon glyphicon-th-list"></span>
            <strong>Chủng loại</strong>
        </div>

        <div id="collapse1" class="list-group panel-collapse collapse in">
            <a th:each="c:${cates}" th:href="@{|/product/list?cid=${c.id}|}" class="list-group-item">[[${c.name}]]</a>
        </div>
    </div>
    <!--/Category-->

    