<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body th:fragment='shopping_cart'>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quanty</th>
            <th>Amount</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in cart.items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>${{item.price | number :2}}</td>
            <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"></td>
            <td>${{item.qty * item.price |number:2}}</td>
            <td>
                <button ng-click="cart.remove(item.id)" class="btn btn-warning"> <span class="glyphicon glyphicon-trash"></span> </button>
            </td>
        </tr>
    </table>
    <button class="btn btn-danger " ng-click="cart.clear()"> <span class="glyphicon glyphicon-trash"></span> Clear</button>
    <a class="btn btn-primary" th:href="@{/order/checkout}"> <span class="glyphicon glyphicon-check"></span> Checkout</a>
</body>

</html>